kind: KubeProxyConfiguration
apiVersion: kubeproxy.config.k8s.io/v1alpha1
address: 0.0.0.0 # 监听地址
metricsBindAddress: 0.0.0.0:10249 # 监控指标地址,监控获取相关信息 就从这里获取
clientConnection:
  kubeconfig: {{ workdir }}/kubernetes/cfg/kube-proxy.kubeconfig # 读取配置文件
hostnameOverride: {{ inventory_hostname }} # 注册到k8s的节点名称唯一
clusterCIDR: {{ service_network }} # service IP范围
mode: iptables # 使用iptables模式

# 使用 ipvs 模式
#mode: ipvs # ipvs 模式
#ipvs:
#  scheduler: "rr"
#iptables:
#  masqueradeAll: true